:root {
    --font: #EEDBB9;
}

body {
    border: 0;
    margin: 0;
    padding: 0;
    background: #2f513f;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    color: var(--font);
}
h4 {
    padding: 0px;
    margin: 12px 12px;
}
::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

.screen-width--patch {
    width: 100vw;
    margin: 0 calc(-50vw + 50%)
}

::-webkit-scrollbar-track {
    background: #F9F2E5;
}

::-webkit-scrollbar-thumb {
    background: #D5C2A0;
}

::-webkit-scrollbar-thumb:hover {
    background: #A49376;
}

main {
    color: var(--font); 
    height: 100vh;
    width: 100vw;
    background: #2f513f;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 8px;
    transition: background-color 1s;
}

main .modal{
    margin: 3em 0em;
    display: flex;
    justify-content: end;
    align-items: center;
}

/* .readme button{
    border: none;
    padding: 12px;
    margin: 12px;
    border-radius: 10px;
    background: linear-gradient(145deg, #2a4939, #325743);
    box-shadow: 8px 8px 16px #21392c, -8px -8px 16px #3d6952;
} */

button {
    color: var(--font); 
    border-width: 0px;
    border-radius: 4px;
    background: #2f513f;
    box-shadow:  2px 2px 4px #21392c,
             -2px -2px 4px #3d6952;
    margin: 4px;
    padding: .5em 1.5em;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.8em;
}

/* .button-bm {
    border-width: 0px;
    border-radius: 4px;
    background: #2f513f;
    box-shadow:  2px 2px 4px #21392c,
             -2px -2px 4px #3d6952;
    color: beige;
    margin: 4px;
    padding: .5em 1.5em;
} */

button:active {
    border-width: 0px;
    border-radius: 4px;
    background: #2f513f;
    box-shadow: inset 4px 4px 8px #21392c,
                inset -4px -4px 8px #3d6952;
    margin: 4px;
    padding: .5em 1.5em;
}

.round-energy{
    margin: 4px;
    padding: 0 12px;
}

.container {
    color: var(--font); 
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    border-radius: 10px;
    background: linear-gradient(145deg, #2a4939, #325743);
    box-shadow: 8px 8px 16px #21392c, -8px -8px 16px #3d6952;
    padding: 4px 12px;
    margin: 0px;
    transition: background-color 0.7s;
    transition-delay: 0.1s;
}

.container2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin: 0px;
    padding: 12px 0px;
    transition: background-color 0.7s;
    transition-delay: 0.1s;
}

.container2 button {
    padding: 12px;
    font-weight: bold;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    background: linear-gradient(145deg, #2a4939, #325743);
    box-shadow: 8px 8px 16px #21392c, -8px -8px 16px #3d6952;
    margin: 0 12px;
    padding: 12px;
}

.button-container-child {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    border-radius: 10px;
    margin: 0;
    padding: 8px 0px;
}


